@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;700&display=swap');

:root {
    --background: rgb(236, 229, 237);
    --font: #000;
    --font-accent: rgb(114, 40, 233);
    --font-hover: rgb(114, 40, 233);
    --accent: red;
    --hover: yellow;
    --border: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', sans-serif;
    font-size: 20px;
    background-color: var(--background);
}

/* Generic styles */

h1, h2, h3, h4, h5, h6, p, a, Link {
    font-weight: 400;
    text-decoration: none;
    color: var(--font);
}

.font-accent {
    color: var(--font-accent);
}

.link:hover {
    color: var(--font-hover);
}

/* Navigation component */

.Navigation {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    border-bottom: 2px solid var(--border);
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0 60px;
}

.navigation-content span > .link {
    margin-left: 30px;
}

.Home {
    padding-top: 300px;
}